/.NodeAbstractionOperationFilter.java._trace
/.RelationAbstractionOperationFilter.java._trace
/.SingleNodeAbstractionOperationFilter.java._trace
/.NodeAbstractionOperationFilter.xtendbin
/.RelationAbstractionOperationFilter.xtendbin
/.SingleNodeAbstractionOperationFilter.xtendbin
/NodeAbstractionOperationFilter.java
/RelationAbstractionOperationFilter.java
/SingleNodeAbstractionOperationFilter.java
